*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4{
    color: rgb(0,5,31);
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 58px;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 75px;
}
h2{
    font-size: 48px;
    letter-spacing: 2px;
    font-weight: 600;
}
h3{
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 2px;
}
h4{
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 1px;
}
h5{
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
}
p{
    font-size: 14;
    font-weight: 100;
    letter-spacing: 0.5px;
    line-height: 28px;
    color: rgb(45, 45, 45);
}
button{
    padding: 12px 24px 12px 24px;
    border: 2px solid #00051f;
    border-radius: 24px;
    font-weight: 700;
    letter-spacing: 2px;
    background-color: transparent;
    color: rgb(0,5,31);
}
button:hover{
    background-color: rgb(0,5,31);
    color: white;
    transition-duration: 0.8s;
    
}
hr{
    width: 200px;
    height: 3px;
    margin-bottom: 20px;
    border: none;
    background-color: rgb(0,5,31);
}
.buttonWithOrangeBackground{
    background-color: #ffa100;
    border-color: #ffa100;
    color: #fff;
}
.buttonWithOrangeBackground:hover{
    background: #00051f;
    border-color: #00051f;
}
section{
    padding-block: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* row-gap: 50px; */
}
/*-----------------------Header section--------------------------------*/
header{
    display: flex;
    justify-content: center;
    transition: all 0.5s ease;
    position: sticky;
    top: 0;
    z-index: 10;
}
.glassmorphism{
    background: rgb(0,5,31,0.2);
    box-shadow: 0 2px 20px 0 rgba( 0, 0, 0, 0.25 );
    backdrop-filter: saturate(180%) blur( 10px );
    -webkit-backdrop-filter: saturate(180%) blur( 10px );
}
#header-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    height: 70px;
    z-index: 10;
    padding: 0;
}
/*------------for logo in the header-------------------------*/
#header-logo{
    height: 70px;
    width: auto;
}
/*-------------------for nav menu---------------------------*/
a{
    position: relative;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    /* color: #ffa100; */
}
#nav-menu-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: auto;
    border-radius: 0 0 24px 24px;
    width: 50%;
}
.inactive-navmenu{
    color: rgb(255, 255, 255);
    padding: 0 8px;
}
.inactive-navmenu:after{
    content: "";
    position: absolute;
    background-color: #ffa100;
    height: 3px;
    width: 0; /*------------- Put 100% for centre hover effect-----------------*/
    left: 0;
    bottom: -8px;
    /*transform: scale(0, 1);
    transition: transform 0.3s ease;*/
}
.inactive-navmenu:hover:after{
    width: 100%;
    transition: 0.3s;
    /*transform: scale(1, 1);*/
}
.active-navmenu{
    color: #ffa100;
}
.active-navmenu:after{
    content: "";
    position: absolute;
    background-color: #ffa100;
    height: 3px;
    width: 100%; 
    left: 0;
    bottom: -8px;
}
/*-----------------nav menu ends------------------------*/

/*----------------------for nav button hover effect-------------------*/
#nav-button{
    background-color: rgb(225, 225, 225);
}
#nav-button:hover{
    border: 2px solid rgb(255,161,0);
    background-color: rgb(255,161,0);
    color: white;
    transition-duration: 0.5s;
    
}
/*-----------------Header Section ends-------------------------------*/
/* -----------------hero section starts--------------- */
#hero-section{
    height: 200px;
    background: 
        linear-gradient(
            rgba(0, 0, 0, 0.75),
            rgba(0, 0, 0, 0.75)
        ),
        url("./pictures/birendra.jpg");
    background-size: cover;
    background-position: center;
    row-gap: 20px;
    margin-top: -70px;
}
#hero-section h3, #hero-section p{
    color: white;
}
/* -------------hero section ends----------------- */

/* ----------about us secction starts---------------- */
#AboutUsMainCointainer{
    background-color: rgb(240, 240, 240);
    padding-block: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#main-div{
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
}
.aboutImg{
    background-color: black;
    border-radius: 24px;
    width: 40%;
}
#AboutContent{
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    row-gap: 10px;
    width: 60%;
}
/* ---------------about us ends-------------------- */

/* -----------mission and Vision-------------- */
#mission-section{
    padding-block: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 50px;
}
#first-mission-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1000px;
    column-gap: 50px;
}
#first-mission-description{
    display: flex;
    column-gap: 30px;
}
#mission-icon{
    height: 80px;
    width: 80px;
}
#first-mission-img{
    width: 40%;
    border-radius: 24px;
}
/* -----------mission and Vision ends-------------- */

/* -------------facilities section----------------------- */
#facilitySection{
    background-color: #ffa100;
    padding-block: 150px;
    row-gap: 10px;
    /* height: 200px; */
}
#FacilityContainer{
    /* width: 1000px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 50px;
    margin-top: 50px;
}
.facilitiesInnerSection{
    display: flex;
    column-gap: 30px;
    width: 1000px;
    justify-content: center;
    align-items: center;
}
.facilitiesColumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    padding: 50px 30px;
    width: 33.33%;
    border-radius: 24px;
    /* height: 150px; */
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.4);
    background-color: white;
}
.facilitiesColumn p{
    text-align: center;
}
.facilities-icon{
    background-color: black;
    width: 50px;
    height: 50px;
}
#first-column{
    background-color: #00051f;
    box-shadow: none;
}
#first-column h4{
    color: white;
}
#first-column p{
    color: #e0e0e0;
}
/* -------------facilities section ends----------------------- */

/*-------------------------------- discovery wala section start --------------------------------*/
#discoverySection{
    background-color: rgb(240, 240, 240);
    row-gap: 0;
}
.Discovery{
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
}
.discoveryContent{
    width: 50%;
}
.discoveryIMG{
    width: 50%;
    height: 400px;
    background-color: black;
    border-radius: 24px;
}
/*--------------------------- discovery wala section ends--------------------------------------- */

/* ----------------words from campus chief-------------- */
#campuschief{
    background-color: #00051f;
    /* padding: 0; */
    height: 500px;
    flex-direction: row;
}
#campusChiefWords{
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#wordsOfChief{
    display: flex;
    flex-direction: column;
    background-color: #ffa100;
    width: 60%;
    margin-right: -150px;
    border-radius: 24px;
    z-index: 1;
    padding: 50px 50px 50px 30px;
    row-gap: 10px;
}
#chiefIMG{
    background-color: white;
    width: 40%;
    /* height: 350px; */
    /* border-radius: 24px; */
    /* position: relative; */
    /* overflow: hidden; */
    
    border-left: 150px solid #00051f;
    border-bottom: 450px solid transparent;
    
}
/* #chiefIMG:before{
    position: absolute;
    content: "";
    top: 50%;
    left: -6.1em;
    transform: translateY(50%) rotate(20deg);
    width: 40%;
    height: 140%;
} */
/* ----------------words from campus chief ends-------------- */

/* ------------------------testimonial section------------------------------ */
.testimonial-container{
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.testimonial-container h2, .testimonial-container h4{
    text-align: center;
}

#testimonial{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#testimonial:before{
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background: url(./pictures/double-quotes.png) no-repeat center center;
    opacity: 0.2;
}

.testi-container{
    width: 700px;
    margin: 50px 0;
    display: flex;
    justify-content: center;
    
}

#relative-testicontent{
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.testi-content{
    width: 3200px;
    display: flex;
    justify-content: flex-start;
    
    /* padding: 0 150px; */
    /* column-gap: 50px; */
    transition: all 0.5s linear;
    /* animation: testimonial 0.5s ease-in 0 infinite linear none; */
}


#testimonial-image{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: black;
}

.slide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
    width: 700px; 
    /* padding: 0 150px; */
}

#testimonial-name{
    margin-bottom: -30px;
}

.indicator{
    display: flex;
}

.bth{
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: rgb(0,5,31);
    margin: 0 5px;
    transition: all 0.5s linear;
    cursor: pointer;
}
.active{
    width: 45px;
}

/* swiper button css */
.nav-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    /* transform: translateY(30px); */
    background-color: rgba(0, 0, 0, 0.1);
    transition: 0.2s;
    color: black;
}
.nav-btn:hover {
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    cursor: pointer;
}
.nav-btn::after,
.nav-btn::before {
  font-size: 20px;
  color: #fff;
}
.swiper-button-prev{
    position: absolute;
    top: 50%;
    left: -100px;
}
.swiper-button-next{
    position: absolute;
    top: 50%;
    right: -100px;
}

/* ------------------------------Contact Us------------------------------- */
#contact-us{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e3f2fd;
    padding: 150px 0;
}
#main-contact-us-section{
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
    height: 300px;
    /* background-color: white; */
}

.contact-columns{
    width: 33%;
    /* background-color: #ffa100; */
    display: flex;
    flex-direction: column;
    justify-content: center;    
    row-gap: 30px;
}

.contact-columns p{
    line-height: normal;
    /* margin-bottom: 20px; */
}
.contact-columns h3{
    margin-top: -20px;
    margin-bottom: 10px;
}
.info-subsection{
    display: flex;
    column-gap: 15px;    
}
.icon{
    width: 20px;
}




/* ------------------form column--------------------------- */
#form-column{
    
    justify-content: center;
    
    /* background-color: black; */
    margin-left: 20px;
}
#name-email{
    display: flex;
    column-gap: 10px;
}
.input-container{
    position: relative;
    width: 100%;
}
.form-field{
    padding: 18px 24px;
    border: none;
    border-bottom: 2px solid rgba(0, 5, 31, 0.5);
    width: 85%;
    
    border-radius: 30px;
    outline: none;
    transition: all 0.3s ease-in;
    background: none;
}
.label{
    position: absolute;
    top: 17px;
    left: 24px;
    transition: all 0.3s ease-in;
    padding: 0 2px;
    color: rgb(0,5,31);
    cursor: text;
}


.label::before {
    content: "";
    height: 5px;
    position: absolute;
    top: -17px;
    left: 0;
    width: 100%;
}

.form-field:focus {
    border: 2px solid #ffa100;
}
.form-field::placeholder {
    opacity: 0;
    transition: all 0.3s ease-in;
}
.form-field:focus::placeholder{
    opacity: 1;
    animation-delay: 0.3s;
}
.form-field:focus ~ .label{
    top: -10px;
    left: 24px;
    color: #ffa100;
    font-size: 14px;
    background-color: #e3f2fd;
    padding: 0 4px;
}
.form-field:not(:placeholder-shown).form-field:not(focus) ~.label{
    top: -10px;
    left: 24px;
    color: #ffa100;
    /* background-color: white; */
    font-size: 14px;
    padding: 0 4px;
}

/*------------------------------footer section starts---------------------------------*/
footer{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: white;
    height: 200px;
}
#footer-section{
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
#footer-logo{
    width: auto;
    height: 200px;
}
#nav-menu-footer li{
    list-style: none; 
    margin: 10px 0;
}

#nav-menu-footer li a:hover{
    color: #ffa100;
    
}


#contact-column{
    margin-bottom: 20px;
}

#social-media-section{
    display: flex;
}

.social-media{
    width: 30px;
    height: 30px;
    background: black;
    margin-right: 10px;
}

#copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background: rgb(0,5,31);
}
#copyright-text{
    color: white;
}
/*--------------------------------footer ends--------------------------------------*/